/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
}


/* Header */

header{
    background-color: white;
}

.header_logo{
    height: 50px;
    vertical-align: middle;
    margin: 15px;
}

.header_title{
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
}

/* Container */

.container{
    width: 1080px;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
}

.button{
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 12px;
}

.button.task{
    background-color: #1E90FF;
    border: none;
    color: white;
}

.button.section{
    background-color: white;
    border: 1px solid grey;
    color: grey;
}

.line{
    border: 2px solid grey;
    margin: 0 auto;
}

.sections_center{
    padding: 20px 40px;
}

/* list */

.list_title{
    font-size: 30px;
    font-weight: bold;
}

.arrow{
    font-size: 45px;
}

.list_text{
    vertical-align: middle;
    line-height: 20px;
}

.list_label{
    font-size: 12px;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    vertical-align: middle;
}

.blu{
    background-color: #45ABEA;
}

.violet{
    background-color: #9C72E4; 
}

.green{
    background-color: #64C0A9; 
}

.orange{
    background-color: #F29E33; 
}

.pink{
    background-color: #D863A1; 
}

.light_green{
    background-color: #B0C926; 
}

.list_check::before{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 2px solid currentColor;
    font-size: 18px;
    font-weight: 900;
}

.list_check.done::before{
    content: '\2713';
    color: green;
}

.list_check.undone::before{
    content: '\2717';
    color: red;
}






