/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

li{
    padding-left: 10px;
}


/* Header */

header{
    background-color: white;
}

.header_logo{
    vertical-align: middle;
    margin: 15px;
}

.header_title{
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
}

/* Container */

.container{
    width: 1080px;
    height: 900px;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
}

.button{
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 12px;
}

.task{
    background-color: #1E90FF;
    border: none;
    color: white;
}

.section{
    background-color: white;
    border: 1px solid grey;
    color: grey;
}

.line{
    border: 2px solid grey;
    margin: 0 auto;
}

.sections_center{
    padding: 20px 40px;
}

/* list */

.list_title{
    font-size: 38px;
    font-weight: bold;
}

.arrow{
    font-size: 58px;
}

.list_true{
    border: 2px solid green;
    border-radius: 50%;
    color: green;
    padding: 2px;
}

.list_label{
    font-size: 12px;
    border-radius: 50%;
    color: white;
    padding: 5px 10px;
}

.blu{
    background-color: #45ABEA;
}




